.mediasite-presenter-header {
    font-weight: bold;
}
.mediasite-tags-header {
    font-weight: bold;
}
.mediasite-tags {
    margin-bottom: 6px;
}
.mediasite-air-date {
    font-style: italic;
    margin-right: 10px;
}
.mediasite-thumbnail {
    margin: 2px;
    display: block;
    border: 2px solid rgb(170, 170, 170);
    float: right;
}
.mediasite-thumbnail:hover {
    border: 2px solid lightgray;
    cursor: pointer;
}
.mediasite-presenter-list {
    list-style: none;
    margin: 0;
}
#mediasite_lti_content,
.mediasite-content-iframe {
    height: 75%;
    min-height: 400px;
    width: 98%;
    margin: 0 auto 20px auto;
    background-color: #ccc;
    border: 2px solid #ccc;
}
.mediasite-content-iframe-catalog {
    min-height: 800px;
}
#mediasite_lti_content_iframe {
    height: 100%;
    width: 100%;
    min-height: 600px;
}
.mediasite_lti_courses_iframe {
    height: 50vw;
    width: 100%;
    min-height: 800px;
    min-width: 1024px;
}
.mediasite-add-menu-placement-hint {
    font-style: italic;
    margin-left: 20px;
    display: inline-flex;
    width: 50%;
}
textarea.mediasite-readonly {
    border: none;
}
div.mediasite-content-presentation,
div.mediasite-content-catalog {
    display: inline-block;
    width: 100%;
    min-width: 600px;
}
div.mediasite-content {
    display: inline-block;
    width: 98%;
}
